### LSE Data Analytics Online Career Accelerator

# DA201: Data Analytics using Python

# Scenario

You work as a data analyst at a health insurance company. Analysing worldwide COVID-19 data remains pertinent even today, as it provides valuable insights into the ongoing global impact of the pandemic, identifies emerging trends and variants, and can help to inform evidence-based decision-making. To provide up-to-date information for executives, the claims department, and clients, you are tasked with gathering the latest data on worldwide COVID-19 cases. Each department requires different information. For each country on the list:

- The executives need to know the total cases and the number of deaths.
- Claims need to know the number of new cases, new deaths, active cases, and serious/critical cases.
- Clients need to know the number of total cases and total recoveries.

# Objective 
For each country on the list, find:

- the total cases and the number of deaths
- the number of new cases, new deaths, active cases, and serious/critical cases
- the number of total cases and total recoveries.

## 1. Import the libraries

In [1]:
# Import the necessary packages.
import requests
import pandas as pd
from bs4 import BeautifulSoup

## 2. Establish connection with URL

In [2]:
# Create a url variable.
url = 'https://www.worldometers.info/coronavirus/'

# Create a requests variable.
r = requests.get(url)

# Make contact with the website.
if r.status_code == 200:
    html_doc = r.text
    
# Get a BeautifulSoup object.
soup = BeautifulSoup(html_doc)

# Print the output.
print(soup.prettify())

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   COVID - Coronavirus Statistics - Worldometer
  </title>
  <meta content="Daily and weekly updated statistics tracking the number of COVID-19 cases, recovered, and deaths. Historical data with cumulative charts, graphs, and updates." name="description"/>
  <!-- Favicon -->
  <link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
  <link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
  <link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
  <link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
  <link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
  <link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
  <link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
  <link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
  <link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
  <link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
  <link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
  <link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/favicon/manifest.json" rel="manifest"/>
  <meta content="#ffffff" name="msapplication-TileColor"/>
  <meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
  <meta content="#ffffff" name="theme-color"/>
  <!-- og image -->
  <meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image"/>
  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/wm16.css" rel="stylesheet"/>
  <!-- font awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
  <script src="/js/jquery.min.js">
  </script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js">
  </script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/js/ie10-viewport-bug-workaround.js">
  </script>
  <!-- tables
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs-3.3.5/dt-1.10.10,fh-3.1.0,r-2.0.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/s/bs-3.3.5/dt-1.10.10,fh-3.1.0,r-2.0.0/datatables.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/dt-1.10.10,r-2.0.0/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/s/dt/dt-1.10.10,r-2.0.0/datatables.min.js"></script>
 -->
  <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript">
  </script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript">
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $(document).ready(function() {
	$('#popbycountry').dataTable();
} );
  </script>
  <!-- FREESTAR -->
  <script data-cfasync="false" type="text/javascript">
   var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
  </script>
 </head>
 <body>
  <!-- Google tag (gtag.js) -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-RWMC0N06EE">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RWMC0N06EE');
  </script>
  <!-- Quantcast Choice. Consent Manager Tag v2.0 (for TCF 2.0) -->
  <!--
<script type="text/javascript" async=true>
(function() {
  var host = 'worldometers.info';
  var element = document.createElement('script');
  var firstScript = document.getElementsByTagName('script')[0];
  var url = 'https://quantcast.mgr.consensu.org'
    .concat('/choice/', 'Pd9JxUkvV0m7q', '/', host, '/choice.js');
  var uspTries = 0;
  var uspTriesLimit = 3;
  element.async = true;
  element.type = 'text/javascript';
  element.src = url;

  firstScript.parentNode.insertBefore(element, firstScript);

  function makeStub() {
    var TCF_LOCATOR_NAME = '__tcfapiLocator';
    var queue = [];
    var win = window;
    var cmpFrame;

    function addFrame() {
      var doc = win.document;
      var otherCMP = !!(win.frames[TCF_LOCATOR_NAME]);

      if (!otherCMP) {
        if (doc.body) {
          var iframe = doc.createElement('iframe');

          iframe.style.cssText = 'display:none';
          iframe.name = TCF_LOCATOR_NAME;
          doc.body.appendChild(iframe);
        } else {
          setTimeout(addFrame, 5);
        }
      }
      return !otherCMP;
    }

    function tcfAPIHandler() {
      var gdprApplies;
      var args = arguments;

      if (!args.length) {
        return queue;
      } else if (args[0] === 'setGdprApplies') {
        if (
          args.length > 3 &&
          args[2] === 2 &&
          typeof args[3] === 'boolean'
        ) {
          gdprApplies = args[3];
          if (typeof args[2] === 'function') {
            args[2]('set', true);
          }
        }
      } else if (args[0] === 'ping') {
        var retr = {
          gdprApplies: gdprApplies,
          cmpLoaded: false,
          cmpStatus: 'stub'
        };

        if (typeof args[2] === 'function') {
          args[2](retr);
        }
      } else {
        queue.push(args);
      }
    }

    function postMessageEventHandler(event) {
      var msgIsString = typeof event.data === 'string';
      var json = {};

      try {
        if (msgIsString) {
          json = JSON.parse(event.data);
        } else {
          json = event.data;
        }
      } catch (ignore) {}

      var payload = json.__tcfapiCall;

      if (payload) {
        window.__tcfapi(
          payload.command,
          payload.version,
          function(retValue, success) {
            var returnMsg = {
              __tcfapiReturn: {
                returnValue: retValue,
                success: success,
                callId: payload.callId
              }
            };
            if (msgIsString) {
              returnMsg = JSON.stringify(returnMsg);
            }
            event.source.postMessage(returnMsg, '*');
          },
          payload.parameter
        );
      }
    }

    while (win) {
      try {
        if (win.frames[TCF_LOCATOR_NAME]) {
          cmpFrame = win;
          break;
        }
      } catch (ignore) {}

      if (win === window.top) {
        break;
      }
      win = win.parent;
    }
    if (!cmpFrame) {
      addFrame();
      win.__tcfapi = tcfAPIHandler;
      win.addEventListener('message', postMessageEventHandler, false);
    }
  };

  makeStub();

  var uspStubFunction = function() {
    var arg = arguments;
    if (typeof window.__uspapi !== uspStubFunction) {
      setTimeout(function() {
        if (typeof window.__uspapi !== 'undefined') {
          window.__uspapi.apply(window.__uspapi, arg);
        }
      }, 500);
    }
  };

  var checkIfUspIsReady = function() {
    uspTries++;
    if (window.__uspapi === uspStubFunction && uspTries < uspTriesLimit) {
      console.warn('USP is not accessible');
    } else {
      clearInterval(uspInterval);
    }
  };

  if (typeof window.__uspapi === 'undefined') {
    window.__uspapi = uspStubFunction;
    var uspInterval = setInterval(checkIfUspIsReady, 6000);
  }
})();
</script>
-->
  <!-- End Quantcast Choice. Consent Manager Tag v2.0 (for TCF 2.0) -->
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- GA wm old (info) -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
  </script>
  <!-- GDPR consent -->
  <link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js">
  </script>
  <script>
   window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
  </script>
  <style type="text/css">
   .style1 {
        color: #666666
    }
  </style>
  <div class="navbar navbar-default">
   <div class="container">
    <div class="navbar-header">
     <div class="logo">
      <a class="navbar-brand" href="/">
       <img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/>
      </a>
     </div>
     <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
     </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
     <ul class="nav navbar-nav">
      <li>
       <a href="/coronavirus/">
        Coronavirus
       </a>
      </li>
      <li>
       <a href="/population/">
        Population
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <!-- MAIN -->
  <div class="container">
   <!-- TOP AD -->
   <div class="row">
    <div style="text-align:left; margin-bottom:10px">
     <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
     </script>
     <!-- wm_top970 -->
     <ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px">
     </ins>
     <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
    </div>
   </div>
   <!-- TOP AD -->
   <!-- MAIN  -->
   <!-- CENTER -->
   <div class="row">
    <div class="col-md-8">
     <!-- *** CONTENT A *** -->
     <div class="content-inner">
      <style>
       .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
      </style>
      <!-- charts -->
      <script src="/js/highcharts.js">
      </script>
      <style type="text/css">
       .source {}

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }

    .source111 {}

    .source1111 {
        font-size: 12px;
        color: #bbb;
    }


    .new_badge {

        position: absolute;
        font-size: 12px;
        top: -5px;
        right: -26px;
        background-color: #8ACA2B;
        color: white;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }

    .new_badge_link {

        background-color: #8ACA2B;
        color: white !important;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }
      </style>
      <div class="label-counter" id="page-top">
       COVID-19 Coronavirus Pandemic
      </div>
      <div style="font-size:13px; color:#999; margin-top:5px; text-align:center">
       Last updated: July 29, 2023, 12:39 GMT
      </div>
      <div style="margin-top:20px; text-align:center; font-size:14px">
       <a class="new_badge_link" href="/coronavirus/weekly-trends/" style="display: inline-block; position:relative;">
        Weekly Trends
       </a>
       -
       <a href="/coronavirus/worldwide-graphs/">
        Graphs
       </a>
       -
       <a href="#countries">
        Countries
       </a>
       -
       <a href="#news">
        News
       </a>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px">
       <h1>
        Coronavirus Cases:
       </h1>
       <div class="maincounter-number">
        <span style="color:#aaa">
         692,196,337
        </span>
       </div>
      </div>
      <div style="text-align:center ">
       <a href="#countries">
        view by country
       </a>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px">
       <h1>
        Deaths:
       </h1>
       <div class="maincounter-number">
        <span>
         6,903,305
        </span>
       </div>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px;">
       <h1>
        Recovered:
       </h1>
       <div class="maincounter-number" style="color:#8ACA2B ">
        <span>
         664,486,875
        </span>
       </div>
      </div>
      <div style="margin-top:50px;">
      </div>
      <!-- START -->
      <style>
       .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }

    .collapse_button {

        position: absolute;
        right: 10px;
        pointer-events: none;
        color: #70757a !important;
        height: 24px;
        width: 24px;
        line-height: 24px;
    }

    .collapse_button svg {
        display: block;
        height: 100%;
        width: 100%;
        fill: currentColor;
    }

    .rotate_180 {

        transform: rotate(180deg);
    }

    .panel_clickable {

        cursor: pointer;
    }
      </style>
      <script>
       var do_not_slide = false;
    $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });


        $('.collapse').on('show.bs.collapse', function(el) {


            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.addClass('rotate_180');

            if (do_not_slide) {

                return;
            }

            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('show');
            } else {

                $('#panel_active').collapse('show');
            }

            do_not_slide = false;
        });

        $('.collapse').on('hide.bs.collapse', function(el) {

            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.removeClass('rotate_180');


            if (do_not_slide) {

                return;
            }


            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('hide');
            } else {

                $('#panel_active').collapse('hide');
            }

            do_not_slide = false;

        });



    });
      </script>
      <div class="col-md-6">
       <div class="panel panel-default">
        <div aria-controls="panel_active" aria-expanded="false" class="panel_clickable panel-heading" data-toggle="collapse" href="#panel_active" style="text-align:center;position:relative;">
         <span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
          Active Cases
         </span>

## 3. Extract tabular data

In [3]:
# Extract the contents of the table with the table id. 
table = soup.find('table', attrs={'id': 'main_table_countries_today'})

# View the table.
table

<table class="table table-bordered table-hover main_table_countries" id="main_table_countries_today" style="width:100%;margin-top: 0px !important;display:none;">
<thead>
<tr>
<th width="1%">#</th>
<th width="100">Country,<br/>Other</th>
<th width="20">Total<br/>Cases</th>
<th width="30">New<br/>Cases</th>
<th width="30">Total<br/>Deaths</th>
<th width="30">New<br/>Deaths</th>
<th width="30">Total<br/>Recovered</th>
<th width="30">New<br/>Recovered</th>
<th width="30">Active<br/>Cases</th>
<th width="30">Serious,<br/>Critical</th>
<th width="30">Tot Cases/<br/>1M pop</th>
<th width="30">Deaths/<br/>1M pop</th>
<th width="30">Total<br/>Tests</th>
<th width="30">Tests/<br/>
<nobr>1M pop</nobr>
</th>
<th width="30">Population</th>
<th style="display:none" width="30">Continent</th>
<th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
<th width="30">New Cases/1M pop</th>
<th width="30">New Deaths/1M pop</th>
<th width="30">Active Cases/1M pop</th>
</tr>
</thead>
<tbody>
<tr class="total_row_world row_continent" data-continent="North America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>127,205,894</td>
<td></td>
<td>1,639,277</td>
<td></td>
<td>123,158,258</td>
<td>+236</td>
<td>2,408,359</td>
<td>5,861</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td>218,952,967</td>
<td>+243</td>
<td>1,548,173</td>
<td>+12</td>
<td>202,412,147</td>
<td>+31,596</td>
<td>14,992,647</td>
<td>15,085</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Europe</nobr>
</td>
<td>249,725,890</td>
<td>+26</td>
<td>2,068,322</td>
<td></td>
<td>245,883,675</td>
<td>+234</td>
<td>1,773,893</td>
<td>5,472</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Europe" style="display:none;">Europe</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="South America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>South America</nobr>
</td>
<td>68,891,513</td>
<td></td>
<td>1,358,906</td>
<td></td>
<td>66,503,602</td>
<td></td>
<td>1,029,005</td>
<td>10,103</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="South America" style="display:none;">South America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Oceania</nobr>
</td>
<td>14,583,150</td>
<td></td>
<td>29,790</td>
<td></td>
<td>14,440,519</td>
<td></td>
<td>112,841</td>
<td>50</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Africa</nobr>
</td>
<td>12,836,202</td>
<td></td>
<td>258,822</td>
<td></td>
<td>12,087,968</td>
<td></td>
<td>489,412</td>
<td>547</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Africa" style="display:none;">Africa</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr></nobr>
</td>
<td>721</td>
<td></td>
<td>15</td>
<td></td>
<td>706</td>
<td></td>
<td>0</td>
<td>0</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="" style="display:none;"></td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world">
<td></td>
<td style="text-align:left;">World</td>
<td>692,196,337</td>
<td>+269</td>
<td>6,903,305</td>
<td>+12</td>
<td>664,486,875</td>
<td>+32,066</td>
<td>20,806,157</td>
<td>37,118</td>
<td>88,802</td>
<td>885.6</td>
<td></td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">107,508,405</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,169,785                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">105,632,230</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">706,390</td>
<td style="font-weight: bold; text-align:right">695</td>
<td style="font-weight: bold; text-align:right">321,107</td>
<td style="font-weight: bold; text-align:right">3,494</td>
<td style="font-weight: bold; text-align:right">1,181,089,416</td>
<td style="font-weight: bold; text-align:right">3,527,691</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">334,805,269</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>286</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">2,110</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
<td style="font-weight: bold; text-align:right">44,995,486</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">531,915                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">44,462,116</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,455</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">31,988</td>
<td style="font-weight: bold; text-align:right">378</td>
<td style="font-weight: bold; text-align:right">930,797,975</td>
<td style="font-weight: bold; text-align:right">661,721</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,406,631,776</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>31</td><td>2,644</td><td>2</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">1</td>
</tr>
<tr style="background-color:#F0F0F0">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td style="font-weight: bold; text-align:right">40,138,560</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">167,642                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">39,970,918</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right">869</td>
<td style="font-weight: bold; text-align:right">612,013</td>
<td style="font-weight: bold; text-align:right">2,556</td>
<td style="font-weight: bold; text-align:right">271,490,188</td>
<td style="font-weight: bold; text-align:right">4,139,547</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,584,518</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>391</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td style="font-weight: bold; text-align:right">38,428,685</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">174,352                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">38,240,600</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">13,733</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">458,119</td>
<td style="font-weight: bold; text-align:right">2,078</td>
<td style="font-weight: bold; text-align:right">122,332,384</td>
<td style="font-weight: bold; text-align:right">1,458,359</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,883,596</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>481</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">164</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td style="font-weight: bold; text-align:right">37,717,062</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">704,659                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">36,249,161</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">763,242</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">175,140</td>
<td style="font-weight: bold; text-align:right">3,272</td>
<td style="font-weight: bold; text-align:right">63,776,166</td>
<td style="font-weight: bold; text-align:right">296,146</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">215,353,593</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<!-- 1 Case/Death/Test every X -->
<td>6</td><td>306</td><td>3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">3,544</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/japan/">Japan</a></td>
<td style="font-weight: bold; text-align:right">33,803,572</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">74,694                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">83</td>
<td style="font-weight: bold; text-align:right">269,169</td>
<td style="font-weight: bold; text-align:right">595</td>
<td style="font-weight: bold; text-align:right">100,414,883</td>
<td style="font-weight: bold; text-align:right">799,578</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/japan-population/">125,584,838</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>4</td><td>1,681</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">95,582</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/south-korea/">S. Korea</a></td>
<td style="font-weight: bold; text-align:right">32,883,134</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">35,216                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">32,411,832</span></td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+31,191</td>
<td style="text-align:right;font-weight:bold;">436,086</td>
<td style="font-weight: bold; text-align:right">126</td>
<td style="font-weight: bold; text-align:right">640,623</td>
<td style="font-weight: bold; text-align:right">686</td>
<td style="font-weight: bold; text-align:right">15,804,065</td>
<td style="font-weight: bold; text-align:right">307,892</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/south-korea-population/">51,329,899</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>1,458</td><td>3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">8,496</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td style="font-weight: bold; text-align:right">25,912,481</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">191,012                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">25,608,670</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">112,799</td>
<td style="font-weight: bold; text-align:right">26</td>
<td style="font-weight: bold; text-align:right">429,992</td>
<td style="font-weight: bold; text-align:right">3,170</td>
<td style="font-weight: bold; text-align:right">274,257,844</td>
<td style="font-weight: bold; text-align:right">4,551,033</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,262,770</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>315</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">1,872</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td style="font-weight: bold; text-align:right">24,641,596</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">228,144                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">24,412,415</span></td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+230</td>
<td style="text-align:right;font-weight:bold;">1,037</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">359,742</td>
<td style="font-weight: bold; text-align:right">3,331</td>
<td style="font-weight: bold; text-align:right">522,526,476</td>
<td style="font-weight: bold; text-align:right">7,628,357</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,497,907</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>300</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">15</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
<td style="font-weight: bold; text-align:right">22,974,289</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">399,814                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">22,424,710</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">149,765</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">157,568</td>
<td style="font-weight: bold; text-align:right">2,742</td>
<td style="font-weight: bold; text-align:right">273,400,000</td>
<td style="font-weight: bold; text-align:right">1,875,095</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,805,947</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>6</td><td>365</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">1,027</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>

## 4. Extract table headers

In [4]:
# Specify BeautifulSoup to go through the table and find everything 
# with a tr tag.
# Note: th = (table header), tr = (table row), and td = table column
rows = table.find_all('tr', attrs={'style': ""})

# View the result.
rows

[<tr>
 <th width="1%">#</th>
 <th width="100">Country,<br/>Other</th>
 <th width="20">Total<br/>Cases</th>
 <th width="30">New<br/>Cases</th>
 <th width="30">Total<br/>Deaths</th>
 <th width="30">New<br/>Deaths</th>
 <th width="30">Total<br/>Recovered</th>
 <th width="30">New<br/>Recovered</th>
 <th width="30">Active<br/>Cases</th>
 <th width="30">Serious,<br/>Critical</th>
 <th width="30">Tot Cases/<br/>1M pop</th>
 <th width="30">Deaths/<br/>1M pop</th>
 <th width="30">Total<br/>Tests</th>
 <th width="30">Tests/<br/>
 <nobr>1M pop</nobr>
 </th>
 <th width="30">Population</th>
 <th style="display:none" width="30">Continent</th>
 <th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
 <th width="30">New Cases/1M pop</th>
 <th width="30">New Deaths/1M pop</th>
 <th width="30">Active Cases/1M pop</th>
 </tr>,
 <tr class="total_row_world">
 <td></td>
 <td style="text-align:left;">World</td>
 <td>692,196,337</td>
 <td>+269</td>
 <td>6,903,305</td>
 <td>+12</td>
 <td>664,486,875</td>
 <td>+32,066</td>
 <td>20,806,157</td>
 <td>37,118</td>
 <td>88,802</td>
 <td>885.6</td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="all" style="display:none">All</td>
 <!-- 1 Case every X -->
 <td>
 </td>
 <!-- 1 Death every X -->
 <td></td>
 <!-- 1 test every X -->
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
 <td style="font-weight: bold; text-align:right">107,508,405</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">1,169,785                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">105,632,230</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">706,390</td>
 <td style="font-weight: bold; text-align:right">695</td>
 <td style="font-weight: bold; text-align:right">321,107</td>
 <td style="font-weight: bold; text-align:right">3,494</td>
 <td style="font-weight: bold; text-align:right">1,181,089,416</td>
 <td style="font-weight: bold; text-align:right">3,527,691</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">334,805,269</a> </td>
 <td data-continent="North America" style="display:none">North America</td>
 <!-- 1 Case/Death/Test every X -->
 <td>3</td><td>286</td><td>0</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">2,110</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
 <td style="font-weight: bold; text-align:right">44,995,486</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">531,915                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">44,462,116</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">1,455</td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right">31,988</td>
 <td style="font-weight: bold; text-align:right">378</td>
 <td style="font-weight: bold; text-align:right">930,797,975</td>
 <td style="font-weight: bold; text-align:right">661,721</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,406,631,776</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <!-- 1 Case/Death/Test every X -->
 <td>31</td><td>2,644</td><td>2</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">1</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
 <td style="font-weight: bold; text-align:right">38,428,685</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">174,352                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">38,240,600</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">13,733</td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right">458,119</td>
 <td style="font-weight: bold; text-align:right">2,078</td>
 <td style="font-weight: bold; text-align:right">122,332,384</td>
 <td style="font-weight: bold; text-align:right">1,458,359</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,883,596</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <!-- 1 Case/Death/Test every X -->
 <td>2</td><td>481</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">164</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
 <td style="font-weight: bold; text-align:right">37,717,062</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">704,659                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">36,249,161</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">763,242</td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right">175,140</td>
 <td style="font-weight: bold; text-align:right">3,272</td>
 <td style="font-weight: bold; text-align:right">63,776,166</td>
 <td style="font-weight: bold; text-align:right">296,146</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">215,353,593</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 <!-- 1 Case/Death/Test every X -->
 <td>6</td><td>306</td><td>3</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">3,544</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/japan/">Japan</a></td>
 <td style="font-weight: bold; text-align:right">33,803,572</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">74,694                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right;">N/A</td>
 <td style="text-align:right;font-weight:bold;">N/A</td>
 <td style="font-weight: bold; text-align:right">83</td>
 <td style="font-weight: bold; text-align:right">269,169</td>
 <td style="font-weight: bold; text-align:right">595</td>
 <td style="font-weight: bold; text-align:right">100,414,883</td>
 <td style="font-weight: bold; text-align:right">799,578</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/japan-population/">125,584,838</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <!-- 1 Case/Death/Test every X -->
 <td>4</td><td>1,681</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">95,582</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/south-korea/">S. Korea</a></td>
 <td style="font-weight: bold; text-align:right">32,883,134</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">35,216                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">32,411,832</span></td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+31,191</td>
 <td style="text-align:right;font-weight:bold;">436,086</td>
 <td style="font-weight: bold; text-align:right">126</td>
 <td style="font-weight: bold; text-align:right">640,623</td>
 <td style="font-weight: bold; text-align:right">686</td>
 <td style="font-weight: bold; text-align:right">15,804,065</td>
 <td style="font-weight: bold; text-align:right">307,892</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/south-korea-population/">51,329,899</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <!-- 1 Case/Death/Test every X -->
 <td>2</td><td>1,458</td><td>3</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">8,496</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
 <td style="font-weight: bold; text-align:right">25,912,481</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">191,012                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">25,608,670</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">112,799</td>
 <td style="font-weight: bold; text-align:right">26</td>
 <td style="font-weight: bold; text-align:right">429,992</td>
 <td style="font-weight: bold; text-align:right">3,170</td>
 <td style="font-weight: bold; text-align:right">274,257,844</td>
 <td style="font-weight: bold; text-align:right">4,551,033</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,262,770</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <!-- 1 Case/Death/Test every X -->
 <td>2</td><td>315</td><td>0</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">1,872</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
 <td style="font-weight: bold; text-align:right">24,641,596</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">228,144                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">24,412,415</span></td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+230</td>
 <td style="text-align:right;font-weight:bold;">1,037</td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right">359,742</td>
 <td style="font-weight: bold; text-align:right">3,331</td>
 <td style="font-weight: bold; text-align:right">522,526,476</td>
 <td style="font-weight: bold; text-align:right">7,628,357</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,497,907</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <!-- 1 Case/Death/Test every X -->
 <td>3</td><td>300</td><td>0</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">15</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
 <td style="font-weight: bold; text-align:right">22,974,289</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">399,814                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">22,424,710</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">149,765</td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right">157,568</td>
 <td style="font-weight: bold; text-align:right">2,742</td>
 <td style="font-weight: bold; text-align:right">273,400,000</td>
 <td style="font-weight: bold; text-align:right">1,875,095</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,805,947</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <!-- 1 Case/Death/Test every X -->
 <td>6</td><td>365</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">1,027</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
 <td style="font-weight: bold; text-align:right">17,232,066</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">102,174                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right;">N/A</td>
 <td style="text-align:right;font-weight:bold;">N/A</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">201,399</td>
 <td style="font-weight: bold; text-align:right">1,194</td>
 <td style="font-weight: bold; text-align:right">162,743,369</td>
 <td style="font-weight: bold; text-align:right">1,902,052</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">85,561,976</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <!-- 1 Case/Death/Test every X -->
 <td>5</td><td>837</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">4,024</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">12</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
 <td style="font-weight: bold; text-align:right">13,914,811</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">121,760                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">13,762,417</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">30,634</td>
 <td style="font-weight: bold; text-align:right">231</td>
 <td style="font-weight: bold; text-align:right">297,840</td>
 <td style="font-weight: bold; text-align:right">2,606</td>
 <td style="font-weight: bold; text-align:right">471,036,328</td>
 <td style="font-weight: bold; text-align:right">10,082,298</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/spain-population/">46,719,142</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <!-- 1 Case/Death/Test every X -->
 <td>3</td><td>384</td><td>0</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">656</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">13</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/australia/">Australia</a></td>
 <td style="font-weight: bold; text-align:right">11,731,399</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">22,325                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">11,698,223</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">10,851</td>
 <td style="font-weight: bold; text-align:right">22</td>
 <td style="font-weight: bold; text-align:right">450,017</td>
 <td style="font-weight: bold; text-align:right">856</td>
 <td style="font-weight: bold; text-align:right">81,916,639</td>
 <td style="font-weight: bold; text-align:right">3,142,326</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/australia-population/">26,068,792</a> </td>
 <td data-continent="Australia/Oceania" style="display:none">Australia/Oceania</td>
 <!-- 1 Case/Death/Test every X -->
 <td>2</td><td>1,168</td><td>0</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">416</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">14</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/viet-nam/">Vietnam</a></td>
 <td style="font-weight: bold; text-align:right">11,621,798</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+9</td>
 <td style="font-weight: bold; text-align:right;">43,206                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">10,640,322</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">938,270</td>
 <td style="font-weight: bold; text-align:right">1</td>
 <td style="font-weight: bold; text-align:right">117,447</td>
 <td style="font-weight: bold; text-align:right">437</td>
 <td style="font-weight: bold; text-align:right">85,826,548</td>

In [5]:
# Store the extracted data.
output = []

column_names = ['Country,Other', 'Total Cases', 'New Cases', 'Total Deaths',
               'New Deaths', 'Total Recovered', 'New Recovered',
               'Active Cases', 'Serious, Critical', 'Tot Cases/ 1M pop',
               'Deaths/ 1M pop', 'Total Tests', 'Tests/ 1M pop', 'Population']

# Create a for loop statement.
for cases in rows:
    cases_data = cases.find_all("td")
    if cases_data:
        # Extract the text within each element.
        cases_text = [td.text for td in cases_data]
        output.append(dict(zip(column_names, cases_text)))
        
# Create an output.
output

[{'Country,Other': '',
  'Total Cases': 'World',
  'New Cases': '692,196,337',
  'Total Deaths': '+269',
  'New Deaths': '6,903,305',
  'Total Recovered': '+12',
  'New Recovered': '664,486,875',
  'Active Cases': '+32,066',
  'Serious, Critical': '20,806,157',
  'Tot Cases/ 1M pop': '37,118',
  'Deaths/ 1M pop': '88,802',
  'Total Tests': '885.6',
  'Tests/ 1M pop': '',
  'Population': ''},
 {'Country,Other': '1',
  'Total Cases': 'USA',
  'New Cases': '107,508,405',
  'Total Deaths': '',
  'New Deaths': '1,169,785                                ',
  'Total Recovered': '',
  'New Recovered': '105,632,230',
  'Active Cases': '',
  'Serious, Critical': '706,390',
  'Tot Cases/ 1M pop': '695',
  'Deaths/ 1M pop': '321,107',
  'Total Tests': '3,494',
  'Tests/ 1M pop': '1,181,089,416',
  'Population': '3,527,691'},
 {'Country,Other': '2',
  'Total Cases': 'India',
  'New Cases': '44,995,486',
  'Total Deaths': '',
  'New Deaths': '531,915                                ',
  'Total Recovered': '',
  'New Recovered': '44,462,116',
  'Active Cases': '',
  'Serious, Critical': '1,455',
  'Tot Cases/ 1M pop': 'N/A',
  'Deaths/ 1M pop': '31,988',
  'Total Tests': '378',
  'Tests/ 1M pop': '930,797,975',
  'Population': '661,721'},
 {'Country,Other': '4',
  'Total Cases': 'Germany',
  'New Cases': '38,428,685',
  'Total Deaths': '',
  'New Deaths': '174,352                                ',
  'Total Recovered': '',
  'New Recovered': '38,240,600',
  'Active Cases': '',
  'Serious, Critical': '13,733',
  'Tot Cases/ 1M pop': 'N/A',
  'Deaths/ 1M pop': '458,119',
  'Total Tests': '2,078',
  'Tests/ 1M pop': '122,332,384',
  'Population': '1,458,359'},
 {'Country,Other': '5',
  'Total Cases': 'Brazil',
  'New Cases': '37,717,062',
  'Total Deaths': '',
  'New Deaths': '704,659                                ',
  'Total Recovered': '',
  'New Recovered': '36,249,161',
  'Active Cases': '',
  'Serious, Critical': '763,242',
  'Tot Cases/ 1M pop': 'N/A',
  'Deaths/ 1M pop': '175,140',
  'Total Tests': '3,272',
  'Tests/ 1M pop': '63,776,166',
  'Population': '296,146'},
 {'Country,Other': '6',
  'Total Cases': 'Japan',
  'New Cases': '33,803,572',
  'Total Deaths': '',
  'New Deaths': '74,694                                ',
  'Total Recovered': '',
  'New Recovered': 'N/A',
  'Active Cases': 'N/A',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '83',
  'Deaths/ 1M pop': '269,169',
  'Total Tests': '595',
  'Tests/ 1M pop': '100,414,883',
  'Population': '799,578'},
 {'Country,Other': '7',
  'Total Cases': 'S. Korea',
  'New Cases': '32,883,134',
  'Total Deaths': '',
  'New Deaths': '35,216                                ',
  'Total Recovered': '',
  'New Recovered': '32,411,832',
  'Active Cases': '+31,191',
  'Serious, Critical': '436,086',
  'Tot Cases/ 1M pop': '126',
  'Deaths/ 1M pop': '640,623',
  'Total Tests': '686',
  'Tests/ 1M pop': '15,804,065',
  'Population': '307,892'},
 {'Country,Other': '8',
  'Total Cases': 'Italy',
  'New Cases': '25,912,481',
  'Total Deaths': '',
  'New Deaths': '191,012                                ',
  'Total Recovered': '',
  'New Recovered': '25,608,670',
  'Active Cases': '',
  'Serious, Critical': '112,799',
  'Tot Cases/ 1M pop': '26',
  'Deaths/ 1M pop': '429,992',
  'Total Tests': '3,170',
  'Tests/ 1M pop': '274,257,844',
  'Population': '4,551,033'},
 {'Country,Other': '9',
  'Total Cases': 'UK',
  'New Cases': '24,641,596',
  'Total Deaths': '',
  'New Deaths': '228,144                                ',
  'Total Recovered': '',
  'New Recovered': '24,412,415',
  'Active Cases': '+230',
  'Serious, Critical': '1,037',
  'Tot Cases/ 1M pop': 'N/A',
  'Deaths/ 1M pop': '359,742',
  'Total Tests': '3,331',
  'Tests/ 1M pop': '522,526,476',
  'Population': '7,628,357'},
 {'Country,Other': '10',
  'Total Cases': 'Russia',
  'New Cases': '22,974,289',
  'Total Deaths': '',
  'New Deaths': '399,814                                ',
  'Total Recovered': '',
  'New Recovered': '22,424,710',
  'Active Cases': '',
  'Serious, Critical': '149,765',
  'Tot Cases/ 1M pop': 'N/A',
  'Deaths/ 1M pop': '157,568',
  'Total Tests': '2,742',
  'Tests/ 1M pop': '273,400,000',
  'Population': '1,875,095'},
 {'Country,Other': '11',
  'Total Cases': 'Turkey',
  'New Cases': '17,232,066',
  'Total Deaths': '',
  'New Deaths': '102,174                                ',
  'Total Recovered': '',
  'New Recovered': 'N/A',
  'Active Cases': 'N/A',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '',
  'Deaths/ 1M pop': '201,399',
  'Total Tests': '1,194',
  'Tests/ 1M pop': '162,743,369',
  'Population': '1,902,052'},
 {'Country,Other': '12',
  'Total Cases': 'Spain',
  'New Cases': '13,914,811',
  'Total Deaths': '',
  'New Deaths': '121,760                                ',
  'Total Recovered': '',
  'New Recovered': '13,762,417',
  'Active Cases': '',
  'Serious, Critical': '30,634',
  'Tot Cases/ 1M pop': '231',
  'Deaths/ 1M pop': '297,840',
  'Total Tests': '2,606',
  'Tests/ 1M pop': '471,036,328',
  'Population': '10,082,298'},
 {'Country,Other': '13',
  'Total Cases': 'Australia',
  'New Cases': '11,731,399',
  'Total Deaths': '',
  'New Deaths': '22,325                                ',
  'Total Recovered': '',
  'New Recovered': '11,698,223',
  'Active Cases': '',
  'Serious, Critical': '10,851',
  'Tot Cases/ 1M pop': '22',
  'Deaths/ 1M pop': '450,017',
  'Total Tests': '856',
  'Tests/ 1M pop': '81,916,639',
  'Population': '3,142,326'},
 {'Country,Other': '14',
  'Total Cases': 'Vietnam',
  'New Cases': '11,621,798',
  'Total Deaths': '+9',
  'New Deaths': '43,206                                ',
  'Total Recovered': '',
  'New Recovered': '10,640,322',
  'Active Cases': '',
  'Serious, Critical': '938,270',
  'Tot Cases/ 1M pop': '1',
  'Deaths/ 1M pop': '117,447',
  'Total Tests': '437',
  'Tests/ 1M pop': '85,826,548',
  'Population': '867,342'},
 {'Country,Other': '15',
  'Total Cases': 'Taiwan',
  'New Cases': '10,241,506',
  'Total Deaths': '',
  'New Deaths': '19,005                                ',
  'Total Recovered': '',
  'New Recovered': '10,222,498',
  'Active Cases': '',
  'Serious, Critical': '3',
  'Tot Cases/ 1M pop': '',
  'Deaths/ 1M pop': '428,719',
  'Total Tests': '796',
  'Tests/ 1M pop': '30,742,304',
  'Population': '1,286,903'},
 {'Country,Other': '18',
  'Total Cases': 'Mexico',
  'New Cases': '7,633,355',
  'Total Deaths': '',
  'New Deaths': '334,336                                ',
  'Total Recovered': '',
  'New Recovered': '6,885,378',
  'Active Cases': '',
  'Serious, Critical': '413,641',
  'Tot Cases/ 1M pop': 'N/A',
  'Deaths/ 1M pop': '58,021',
  'Total Tests': '2,541',
  'Tests/ 1M pop': '20,013,810',
  'Population': '152,124'},
 {'Country,Other': '19',
  'Total Cases': 'Iran',
  'New Cases': '7,612,886',
  'Total Deaths': '',
  'New Deaths': '146,307                                ',
  'Total Recovered': '',
  'New Recovered': '7,372,222',
  'Active Cases': '',
  'Serious, Critical': '94,357',
  'Tot Cases/ 1M pop': '6',
  'Deaths/ 1M pop': '88,498',
  'Total Tests': '1,701',
  'Tests/ 1M pop': '56,934,517',
  'Population': '661,854'},
 {'Country,Other': '20',
  'Total Cases': 'Indonesia',
  'New Cases': '6,812,670',
  'Total Deaths': '',
  'New Deaths': '161,894                                ',
  'Total Recovered': '',
  'New Recovered': '6,645,399',
  'Active Cases': '',
  'Serious, Critical': '5,377',
  'Tot Cases/ 1M pop': 'N/A',
  'Deaths/ 1M pop': '24,406',
  'Total Tests': '580',
  'Tests/ 1M pop': '114,158,919',
  'Population': '408,975'},
 {'Country,Other': '21',
  'Total Cases': 'Poland',
  'New Cases': '6,518,135',
  'Total Deaths': '+6',
  'New Deaths': '119,635                                ',
  'Total Recovered': '',
  'New Recovered': '5,335,940',
  'Active Cases': '',
  'Serious, Critical': '1,062,560',
  'Tot Cases/ 1M pop': '53',
  'Deaths/ 1M pop': '172,713',
  'Total Tests': '3,170',
  'Tests/ 1M pop': '38,807,781',
  'Population': '1,028,299'},
 {'Country,Other': '22',
  'Total Cases': 'Colombia',
  'New Cases': '6,376,239',
  'Total Deaths': '',
  'New Deaths': '142,922                                ',
  'Total Recovered': '',
  'New Recovered': '6,190,683',
  'Active Cases': '',
  'Serious, Critical': '42,634',
  'Tot Cases/ 1M pop': '342',
  'Deaths/ 1M pop': '123,780',
  'Total Tests': '2,774',
  'Tests/ 1M pop': '36,951,507',
  'Population': '717,327'},
 {'Country,Other': '24',
  'Total Cases': 'Austria',
  'New Cases': '6,081,287',
  'Total Deaths': '',
  'New Deaths': '22,542                                ',
  'Total Recovered': '',
  'New Recovered': '6,054,934',
  'Active Cases': '',
  'Serious, Critical': '3,811',
  'Tot Cases/ 1M pop': '14',
  'Deaths/ 1M pop': '670,727',
  'Total Tests': '2,486',
  'Tests/ 1M pop': '211,273,524',
  'Population': '23,302,116'},
 {'Country,Other': '25',
  'Total Cases': 'Portugal',
  'New Cases': '5,595,211',
  'Total Deaths': '',
  'New Deaths': '26,957                                ',
  'Total Recovered': '',
  'New Recovered': '5,566,135',
  'Active Cases': '',
  'Serious, Critical': '2,119',
  'Tot Cases/ 1M pop': '61',
  'Deaths/ 1M pop': '551,765',
  'Total Tests': '2,658',
  'Tests/ 1M pop': '46,139,518',
  'Population': '4,549,993'},
 {'Country,Other': '27',
  'Total Cases': 'Chile',
  'New Cases': '5,289,006',
  'Total Deaths': '',
  'New Deaths': '64,497                                ',
  'Total Recovered': '',
  'New Recovered': '5,224,373',
  'Active Cases': '',
  'Serious, Critical': '136',
  'Tot Cases/ 1M pop': '13',
  'Deaths/ 1M pop': '274,751',
  'Total Tests': '3,350',
  'Tests/ 1M pop': '49,892,299',
  'Population': '2,591,781'},
 {'Country,Other': '28',
  'Total Cases': 'Malaysia',
  'New Cases': '5,119,647',
  'Total Deaths': '',
  'New Deaths': '37,163                                ',
  'Total Recovered': '',
  'New Recovered': '5,068,858',
  'Active Cases': '',
  'Serious, Critical': '13,626',
  'Tot Cases/ 1M pop': '20',
  'Deaths/ 1M pop': '154,294',
  'Total Tests': '1,120',
  'Tests/ 1M pop': '68,376,501',
  'Population': '2,060,708'},
 {'Country,Other': '29',
  'Total Cases': 'Israel',
  'New Cases': '4,830,733',
  'Total Deaths': '',
  'New Deaths': '12,585                                ',
  'Total Recovered': '',
  'New Recovered': '4,798,473',
  'Active Cases': '',
  'Serious, Critical': '19,675',
  'Tot Cases/ 1M pop': '21',
  'Deaths/ 1M pop': '517,986',
  'Total Tests': '1,349',
  'Tests/ 1M pop': '41,373,364',
  'Population': '4,436,346'},
 {'Country,Other': '30',
  'Total Cases': 'Belgium',
  'New Cases': '4,802,496',
  'Total Deaths': '',
  'New Deaths': '34,376                                ',
  'Total Recovered': '',
  'New Recovered': '4,767,348',
  'Active Cases': '',
  'Serious, Critical': '772',
  'Tot Cases/ 1M pop': '43',
  'Deaths/ 1M pop': '411,586',
  'Total Tests': '2,946',
  'Tests/ 1M pop': '37,018,657',
  'Population': '3,172,590'},
 {'Country,Other': '32',
  'Total Cases': 'Thailand',
  'New Cases': '4,754,784',
  'Total Deaths': '',
  'New Deaths': '34,418                                ',
  'Total Recovered': '',
  'New Recovered': '4,692,636',
  'Active Cases': '',
  'Serious, Critical': '27,730',
  'Tot Cases/ 1M pop': 'N/A',
  'Deaths/ 1M pop': '67,850',
  'Total Tests': '491',
  'Tests/ 1M pop': '17,270,775',
  'Population': '246,450'},
 {'Country,Other': '33',
  'Total Cases': 'Canada',
  'New Cases': '4,695,593',
  'Total Deaths': '',
  'New Deaths': '53,086                                ',
  'Total Recovered': '',
  'New Recovered': '4,636,690',
  'Active Cases': '+236',
  'Serious, Critical': '5,817',
  'Tot Cases/ 1M pop': '99',
  'Deaths/ 1M pop': '122,318',
  'Total Tests': '1,383',
  'Tests/ 1M pop': '66,343,123',
  'Population': '1,728,207'},
 {'Country,Other': '34',
  'Total Cases': 'Czechia',
  'New Cases': '4,643,014',
  'Total Deaths': '',
  'New Deaths': '42,812                                ',
  'Total Recovered': '',
  'New Recovered': '4,600,030',
  'Active Cases': '',
  'Serious, Critical': '172',
  'Tot Cases/ 1M pop': '1',
  'Deaths/ 1M pop': '432,440',
  'Total Tests': '3,987',
  'Tests/ 1M pop': '57,242,285',
  'Population': '5,331,418'},
 {'Country,Other': '36',
  'Total Cases': 'Switzerland',
  'New Cases': '4,407,568',
  'Total Deaths': '',
  'New Deaths': '14,452                                ',
  'Total Recovered': '',
  'New Recovered': '4,392,537',
  'Active Cases': '',
  'Serious, Critical': '579',
  'Tot Cases/ 1M pop': '39',
  'Deaths/ 1M pop': '502,365',
  'Total Tests': '1,647',
  'Tests/ 1M pop': '23,833,472',
  'Population': '2,716,487'},
 {'Country,Other': '37',
  'Total Cases': 'Philippines',
  'New Cases': '4,172,753',
  'Total Deaths': '+176',
  'New Deaths': '66,582                                ',
  'Total Recovered': '+11',
  'New Recovered': '4,101,631',
  'Active Cases': '+333',
  'Serious, Critical': '4,540',
  'Tot Cases/ 1M pop': '162',
  'Deaths/ 1M pop': '37,088',
  'Total Tests': '592',
  'Tests/ 1M pop': '35,614,114',
  'Population': '316,545'},
 {'Country,Other': '38',
  'Total Cases': 'South Africa',
  'New Cases': '4,076,463',
  'Total Deaths': '',
  'New Deaths': '102,595                                ',
  'Total Recovered': '',
  'New Recovered': '3,912,506',
  'Active Cases': '',
  'Serious, Critical': '61,362',
  'Tot Cases/ 1M pop': '192',
  'Deaths/ 1M pop': '67,095',
  'Total Tests': '1,689',
  'Tests/ 1M pop': '26,795,090',
  'Population': '441,027'},
 {'Country,Other': '39',
  'Total Cases': 'Romania',
  'New Cases': '3,409,402',
  'Total Deaths': '',
  'New Deaths': '68,249                                ',
  'Total Recovered': '',
  'New Recovered': '3,340,206',
  'Active Cases': '',
  'Serious, Critical': '947',
  'Tot Cases/ 1M pop': '38',
  'Deaths/ 1M pop': '179,147',
  'Total Tests': '3,586',
  'Tests/ 1M pop': '27,736,118',
  'Population': '1,457,392'},
 {'Country,Other': '40',
  'Total Cases': 'Denmark',
  'New Cases': '3,182,453',
  'Total Deaths': '',
  'New Deaths': '8,769                                ',
  'Total Recovered': '',
  'New Recovered': '3,173,590',
  'Active Cases': '',
  'Serious, Critical': '94',
  'Tot Cases/ 1M pop': '4',
  'Deaths/ 1M pop': '545,412',
  'Total Tests': '1,503',
  'Tests/ 1M pop': '129,311,046',
  'Population': '22,161,466'},
 {'Country,Other': '41',
  'Total Cases': 'Hong Kong',
  'New Cases': '2,915,635',
  'Total Deaths': '',
  'New Deaths': '13,819                                ',
  'Total Recovered': '',
  'New Recovered': '2,897,322',
  'Active Cases': '',
  'Serious, Critical': '4,494',
  'Tot Cases/ 1M pop': '28',
  'Deaths/ 1M pop': '383,419',
  'Total Tests': '1,817',
  'Tests/ 1M pop': '76,127,725',
  'Population': '10,011,143'},
 {'Country,Other': '42',
  'Total Cases': 'Sweden',
  'New Cases': '2,712,743',
  'Total Deaths': '',
  'New Deaths': '24,536                                ',
  'Total Recovered': '',
  'New Recovered': '2,687,770',
  'Active Cases': '',
  'Serious, Critical': '437',
  'Tot Cases/ 1M pop': '8',
  'Deaths/ 1M pop': '265,461',
  'Total Tests': '2,401',
  'Tests/ 1M pop': '19,500,873',
  'Population': '1,908,301'},
 {'Country,Other': '43',
  'Total Cases': 'Serbia',
  'New Cases': '2,544,741',
  'Total Deaths': '',
  'New Deaths': '18,057                                ',
  'Total Recovered': '',
  'New Recovered': '2,526,171',
  'Active Cases': '',
  'Serious, Critical': '513',
  'Tot Cases/ 1M pop': '',
  'Deaths/ 1M pop': '294,087',
  'Total Tests': '2,087',
  'Tests/ 1M pop': '13,041,830',
  'Population': '1,507,200'},
 {'Country,Other': '44',
  'Total Cases': 'Singapore',
  'New Cases': '2,518,281',
  'Total Deaths': '',
  'New Deaths': '1,841                                ',
  'Total Recovered': '',
  'New Recovered': '2,149,583',
  'Active Cases': '',
  'Serious, Critical': '366,857',
  'Tot Cases/ 1M pop': '2',
  'Deaths/ 1M pop': '423,700',
  'Total Tests': '310',
  'Tests/ 1M pop': '24,756,666',
  'Population': '4,165,302'},
 {'Country,Other': '45',
  'Total Cases': 'Iraq',
  'New Cases': '2,465,545',
  'Total Deaths': '',
  'New Deaths': '25,375                                ',
  'Total Recovered': '',
  'New Recovered': '2,439,497',
  'Active Cases': '',
  'Serious, Critical': '673',
  'Tot Cases/ 1M pop': '21',
  'Deaths/ 1M pop': '58,474',
  'Total Tests': '602',
  'Tests/ 1M pop': '19,544,451',
  'Population': '463,523'},
 {'Country,Other': '46',
  'Total Cases': 'New Zealand',
  'New Cases': '2,433,293',
  'Total Deaths': '',
  'New Deaths': '4,609                                ',
  'Total Recovered': '',
  'New Recovered': '2,426,363',
  'Active Cases': '',
  'Serious, Critical': '2,321',
  'Tot Cases/ 1M pop': '',
  'Deaths/ 1M pop': '496,773',
  'Total Tests': '941',
  'Tests/ 1M pop': '7,768,604',
  'Population': '1,586,011'},
 {'Country,Other': '47',
  'Total Cases': 'Hungary',
  'New Cases': '2,203,222',
  'Total Deaths': '',
  'New Deaths': '48,881                                ',
  'Total Recovered': '',
  'New Recovered': '2,152,155',
  'Active Cases': '',
  'Serious, Critical': '2,186',
  'Tot Cases/ 1M pop': '2',
  'Deaths/ 1M pop': '229,353',
  'Total Tests': '5,088',
  'Tests/ 1M pop': '11,394,556',
  'Population': '1,186,160'},
 {'Country,Other': '48',
  'Total Cases': 'Bangladesh',
  'New Cases': '2,044,131',
  'Total Deaths': '',
  'New Deaths': '29,469                                ',
  'Total Recovered': '',
  'New Recovered': '1,998,448',
  'Active Cases': '',
  'Serious, Critical': '16,214',
  'Tot Cases/ 1M pop': 'N/A',
  'Deaths/ 1M pop': '12,176',
  'Total Tests': '176',
  'Tests/ 1M pop': '15,254,399',
  'Population': '90,862'},
 {'Country,Other': '50',
  'Total Cases': 'Georgia',
  'New Cases': '1,845,538',
  'Total Deaths': '',
  'New Deaths': '17,101                                ',
  'Total Recovered': '',
  'New Recovered': '1,776,548',
  'Active Cases': '',
  'Serious, Critical': '51,889',
  'Tot Cases/ 1M pop': '',
  'Deaths/ 1M pop': '465,019',
  'Total Tests': '4,309',
  'Tests/ 1M pop': '16,920,079',
  'Population': '4,263,340'},
 {'Country,Other': '51',
  'Total Cases': 'Jordan',
  'New Cases': '1,746,997',
  'Total Deaths': '',
  'New Deaths': '14,122                                ',
  'Total Recovered': '',
  'New Recovered': '1,731,007',
  'Active Cases': '',
  'Serious, Critical': '1,868',
  'Tot Cases/ 1M pop': '59',
  'Deaths/ 1M pop': '169,597',
  'Total Tests': '1,371',
  'Tests/ 1M pop': '17,201,885',
  'Population': '1,669,945'},
 {'Country,Other': '52',
  'Total Cases': 'Ireland',
  'New Cases': '1,714,643',
  'Total Deaths': '',
  'New Deaths': '9,109                                ',
  'Total Recovered': '',
  'New Recovered': '1,704,663',
  'Active Cases': '',
  'Serious, Critical': '871',
  'Tot Cases/ 1M pop': '19',
  'Deaths/ 1M pop': '341,549',
  'Total Tests': '1,814',
  'Tests/ 1M pop': '13,083,449',
  'Population': '2,606,161'},
 {'Country,Other': '53',
  'Total Cases': 'Pakistan',
  'New Cases': '1,581,304',
  'Total Deaths': '',
  'New Deaths': '30,661                                ',
  'Total Recovered': '',
  'New Recovered': '1,538,689',
  'Active Cases': '',
  'Serious, Critical': '11,954',
  'Tot Cases/ 1M pop': '1',
  'Deaths/ 1M pop': '6,891',
  'Total Tests': '134',
  'Tests/ 1M pop': '30,571,377',
  'Population': '133,215'},
 {'Country,Other': '54',
  'Total Cases': 'Norway',
  'New Cases': '1,486,167',
  'Total Deaths': '',
  'New Deaths': '5,611                                ',
  'Total Recovered': '',
  'New Recovered': '1,480,364',
  'Active Cases': '',
  'Serious, Critical': '192',
  'Tot Cases/ 1M pop': '20',
  'Deaths/ 1M pop': '269,655',
  'Total Tests': '1,018',
  'Tests/ 1M pop': '11,002,430',
  'Population': '1,996,315'},
 {'Country,Other': '55',
  'Total Cases': 'Finland',
  'New Cases': '1,483,208',
  'Total Deaths': '',
  'New Deaths': '10,087                                ',
  'Total Recovered': '',
  'New Recovered': '1,472,612',

## 5. Convert extracted data into a Panda DataFrame

In [6]:
# Create a DataFrame directly from the output.
data = pd.DataFrame(output)

# View the DataFrame.
data.head()

,"Country,Other",Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/ 1M pop,Deaths/ 1M pop,Total Tests,Tests/ 1M pop,Population
0,,World,"692,196,337",+269,"6,903,305",+12,"664,486,875","+32,066","20,806,157","37,118","88,802",885.6,,
1,1,USA,"107,508,405",,"1,169,785",,"105,632,230",,"706,390",695,"321,107","3,494","1,181,089,416","3,527,691"
2,2,India,"44,995,486",,"531,915",,"44,462,116",,"1,455",N/A,"31,988",378,"930,797,975","661,721"
3,4,Germany,"38,428,685",,"174,352",,"38,240,600",,"13,733",N/A,"458,119","2,078","122,332,384","1,458,359"
4,5,Brazil,"37,717,062",,"704,659",,"36,249,161",,"763,242",N/A,"175,140","3,272","63,776,166","296,146"